@import "tailwindcss";
@theme {
  --color-appWhite: #ffffff;
  --color-appBlack: #000000;
  --color-primary: #3b82f6;
  --color-bubblegray: #2d2d44;
  --color-textLight: #f4f4f5;
  --color-textMuted: #a1a1aa;
  --color-borderGray: #3f3f46;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
